.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    /* What does grid-template-rows actually mean? */
    grid-template-rows: repeat(2, 200px);
    grid-auto-rows: 800px;
    grid-auto-columns: 400px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
}

.wrapper>div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}