#outer div ul .nav a {
  background-color: powderblue;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

#outer #inner a {
	background-color: inherit;
}

div div li a {
  color: rebeccapurple;
}