body {
    padding: 1em;
    font: 1.2em / 1.5 sans-serif;
}

* {
    box-sizing: border-box;
}

.box {
    width: 300px;
    padding: 0.5em;
}

.box {
  border: 5px solid lightblue;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 40px;
}

h2 {
  padding: 0 40px;
  text-align: center;
  background: 
  url("https://mdn.github.io/shared-assets/images/examples/star.png") no-repeat left 75px bottom;
    /* url("https://mdn.github.io/shared-assets/images/examples/star.png") repeat-y
      right center; */
/* url(image1.png) top left / 50px 50px no-repeat, */
}