body>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body>div>div {
    height: 250px;
}

body>div>div:nth-child(1) {
    background-color: red;
    width: 50%;
}

body>div>div:nth-child(2) {
    background-color: blue;
    width: 50%;
    /* Remove this to see the box move */
    position: relative;
}

#floater {
    width: 150px;
    height: 50px;
    top: 50px;
    left : 0px;
    background-color: green;
    position: absolute;
}