/* Basic type and text */

* {
    box-sizing: border-box;
}

body {
    font: 1.2em / 1.5 system-ui;
    width: clamp(480px, 70%, 1000px);
    margin: 0 auto;
}

#introduction,
#summary,
footer {
    padding: 20px;
}

:not(#introduction, #summary, footer)>h2+p::first-line {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    color: red;
}

a:hover {
    text-decoration: none;
}

/* Nav menu */

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: stretch;
    gap: 10px;
}

nav li {
    flex: 1;
}


li a {
    text-decoration: none;
    color: black;
    background-color: yellowgreen;
    text-align: center;
    padding: 10px;
    display: block;
}

a:hover {
    background-color: goldenrod;
}

a:focus {
    background-color: goldenrod;
}

/* Intro and summary */

.highlight {
    margin-top: 0;
    background-color: darkslategray;
    color: cornsilk;
}

#introduction a {
    color: yellow;
}

#summary a {
    color: yellow;
}

.highlight a {
    color: purple;
}

/* Footer */

footer.highlight {
    margin-top: 20px ;
    background-color: goldenrod ;
    text-shadow: 1px 1px 1px black ;
}