tbody  tr:nth-child(odd){
    background-color: #eeeeee;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td { 
    border: 1px solid #cccccc;
}

tbody tr:hover { 
    background: yellow;
}