a:hover {
    text-decoration: none;
}

a:visited {
    color: green;
}

a {
    color: orange;
}

p:first-child {
    font-size: 150%;
}

p:first-child:first-line {
    color: red;
}

tr:nth-child(even) {
    background-color: #333333;
    color: white;
}